# Sets

In [3]:
#create a sets
my_set = {1,2,3,4,5}
print(type(my_set))

<class 'set'>

In [7]:
empty_set = set([1,2,3,4,5])
print(empty_set)
print(type(empty_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [9]:
duplicate = set([1,2,3,4,3,2,1,5])
print(duplicate)

{1, 2, 3, 4, 5}

# Basic set operation

In [17]:
#adding and removing elements
my_set.add(6)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [18]:
#remove a element
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [19]:
my_set.discard(10)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [20]:
#pop method
remove_ele = my_set.pop()
print(remove_ele)
print(my_set)

1
{2, 4, 5, 6, 7}

In [21]:
#clear all the elements
my_set.clear()
print(my_set)

set()

In [23]:
#Set membership test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

# Mathematical operations

In [24]:
set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9}

#union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
#intersection
inter = set1.intersection(set2)
print(inter)

{4, 5, 6, 7}

In [27]:
#update in set1 through this
set1.intersection_update(set2)
print(set1)

{4, 5, 6, 7}

In [32]:
#difference operation
set1 = {1,2,3,4,5,6,7}

diff = set1.difference(set2)
print(diff)

diff2 = set2.difference(set1)
print(diff2)

{1, 2, 3}
{8, 9}

In [33]:
#symmetric difference
symm = set1.symmetric_difference(set2)
print(symm)

{1, 2, 3, 8, 9}

In [36]:
#Sets methods
set1 = {1,2,3,4,5}
set2 = {3,4,5}

#is subset
print(set1.issubset(set2))

#superset
print(set1.issuperset(set2))

False
True

In [38]:
lst = [1,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [41]:
#counting unique words in text
text = "Hello my name is sachin my age is 24"
words = text.split()

#unique words
uni = set(words)
print(uni)

{'name', 'Hello', 'is', 'age', 'my', 'sachin', '24'}