In [1]:
#creating a tuple
emty_tuple = ()
print(emty_tuple)
print(type(emty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))

<class 'list'>

In [3]:
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [4]:
num = tuple([1,2,3,4,5,6])
num

(1, 2, 3, 4, 5, 6)

In [5]:
lst = list((1,2,3,4,5,6))
lst

[1, 2, 3, 4, 5, 6]

In [6]:
mix_tuple = (1,"hello",True,3.14)
print(mix_tuple)

(1, 'hello', True, 3.14)

In [8]:
#accessing the tuple elements
num

(1, 2, 3, 4, 5, 6)

In [9]:
num[0]

1

In [10]:
print(num[2])
print(num[-1])

3
6

In [11]:
num[0:4]

(1, 2, 3, 4)

In [12]:
num[::]

(1, 2, 3, 4, 5, 6)

In [13]:
num[::-1]

(6, 5, 4, 3, 2, 1)

# Tuple operations

In [14]:
print(num)
print(mix_tuple)

(1, 2, 3, 4, 5, 6)
(1, 'hello', True, 3.14)

In [15]:
#concatenation
concat = num + mix_tuple
print(concat)

(1, 2, 3, 4, 5, 6, 1, 'hello', True, 3.14)

In [16]:
mix_tuple * 3

(1, 'hello', True, 3.14, 1, 'hello', True, 3.14, 1, 'hello', True, 3.14)

In [17]:
num *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
for i in num:
    a = i*3
    print(a)

3
6
9
12
15
18

In [21]:
#tuple is immutable (not changeable)
lst = [1,2,3,4,5]
lst[1] = "Sachin"
print(lst)

[1, 'Sachin', 3, 4, 5]

In [23]:
tup = (1,2,3,4,5)
tup[1] = "Sam"
print(tup)

TypeError: 'tuple' object does not support item assignment

In [25]:
new = list(tup)
new[1] = "Sam"
print(tuple(new))

(1, 'Sam', 3, 4, 5)

In [27]:
#Tuple methods
num

(1, 2, 3, 4, 5, 6)

In [29]:
print(num.count(1))
print(num.index(4))

1
3

In [30]:
#Packing and unpacking tuples
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [31]:
#unpacking tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [32]:
#unpacking with *
num = (1,2,3,4,5,6)
first,*middle,last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [35]:
#Nested list
lst = [[1,2,3],[5,6,7],[1,"hello",3.14]]
lst[2][1]

'hello'

In [38]:
lst = ((1,2,3),(5,6,7),(1,"hello",3.14))
lst[2][0:3]

(1, 'hello', 3.14)

In [40]:
#iterating through nested tuple
for sub_tup in lst:
    for i in sub_tup:
        print(i , end = " ")
    print()

1 2 3
5 6 7
1 hello 3.14